Here I will try to apply PrometheeGamma, year by year.

Then analyze the evolution of the scores.

In [1]:
from matplotlib import pyplot as plt
from utils import *
import promethee_functions as pf

In [2]:
data = read_data()
# le = life expectancy -> maximum is better
# gdi = gender development index -> maximum is better
# hdi = human development index -> maximum is better
# eys = expected years of schooling -> maximum is better
# poptotal = total population -> maximum is better
# co2prod = production of co2 -> minimum is better

def score_function(column, maximize=True):
    """ 
    Function that gets the datasets and modify the data to evaluate the scores of the different criterias
    - column: each value is a time series, if we want to minimize it, we have to invert it
    - mininimize: boolean, if we want to minimize the value
    """
    def invert_values(column):
        return [-x for x in column]

    if maximize:
        return column
    else:
        # Invert the values: the higher the value, the lower the score
        column = invert_values(column)
        # Get the minimum value of the column
        min_value = min([min(x) for x in column])
        # Add the minimum value to the column in order to have only positive values
        column = [x + abs(min_value) for x in column]
        return column


    

column = data["co2prod"]
score = score_function(column, maximize=False)

data["co2prod"] = score

data.head()

,iso3,co2prod,poptotal,hdi,le,gdi,eys
6,ARG,"[14.039834358, 13.924473654000002, 13.86241439...","[32.6376565, 33.105763, 33.5682855, 34.0272395...","[0.724, 0.731, 0.736, 0.74, 0.746, 0.747, 0.75...","[71.784, 72.319, 72.43, 72.565, 73.172, 73.133...","[0.968, 0.97, 0.973, 0.981, 0.975, 0.973, 0.98...","[13.39248967, 13.35243988, 13.31250985, 13.272..."
13,BGD,"[17.342454434, 17.338929753000002, 17.33565798...","[107.147651, 109.2428345, 111.2721025, 113.418...","[0.399, 0.397, 0.416, 0.423, 0.431, 0.44, 0.44...","[55.989, 54.154, 57.635, 57.927, 58.617, 59.46...","[0.743, 0.751, 0.772, 0.779, 0.788, 0.796, 0.7...","[5.540100098, 5.742722766, 5.945345434, 6.1479..."
34,CHL,"[15.007533002, 15.196047202, 15.15201421600000...","[13.342868, 13.5619455, 13.782297, 13.998386, ...","[0.705, 0.714, 0.722, 0.716, 0.722, 0.728, 0.7...","[72.574, 73.574, 74.135, 74.195, 74.614, 74.60...","[0.929, 0.925, 0.93, 0.932, 0.935, 0.935, 0.94...","[12.74779872, 12.73688984, 12.7259903, 11.7391..."
49,DOM,"[16.220405788, 16.163383115000002, 16.07119429...","[7.129004, 7.278402, 7.42734, 7.576074, 7.7239...","[0.579, 0.585, 0.595, 0.602, 0.608, 0.614, 0.6...","[67.11, 67.625, 68.084, 68.472, 68.792, 68.988...","[0.909, 0.91, 0.922, 0.877, 0.921, 0.922, 0.92...","[9.284750781, 9.453856966, 9.626043137, 9.8013..."
51,EGY,"[16.159221810000002, 16.155084139, 16.14130400...","[57.2146305, 58.611032, 59.989142, 61.3822, 62...","[0.567, 0.574, 0.58, 0.587, 0.594, 0.601, 0.61...","[64.146, 64.755, 65.031, 65.468, 65.816, 66.31...","[0.82, 0.816, 0.826, 0.828, 0.835, 0.829, 0.80...","[9.206990242, 9.250329971, 9.430852532, 9.6113..."

In [ ]:
def